.img-banner {
  position	: relative;
  width		: 100%;
  text-align: center;
  color: #ffffff;
}

.img-banner img {
  width		: 100%;
}

.fluid-banner-content {
  position	: absolute;
  top		: 40%;
  left		: 0;
  width		: 100%;

}